.heder-containner{	

	flex-grow: 1;
	display: flex;
	align-items:center;	
	justify-content: space-around;	
	
}
.main-containner{
	display: flex;
		

}
.main-elemenr1{
display: flex;
}
.main-element2{
display: flex;
flex-wrap: wrap;
}
.main-element2-titl{
display: flex;
flex-direction: column;
}
.foter-conainner{
display: flex;
justify-content:center;

}
.foter-conainner-elm{
display: flex;
flex-direction: column;
justify-content: center;	
}
